setuptools
django==3.1.14
django-filter==21.1
django-url-filter==0.3.15
djangorestframework==3.13.1
markdown==3.3.7
requests
numpy
pandas
django-pandas
xlrd
wheel
psycopg2-binary
sqlalchemy
pyyaml
pip